html[b-ofvoixciio] {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html[b-ofvoixciio] {
    font-size: 16px;
  }
}

body[b-ofvoixciio] {
  margin-bottom: 80px; 
  background-color: #fcfcfc; 
}

a[b-ofvoixciio] {
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover[b-ofvoixciio] {
  color: #0a58ca;
}

.box-shadow[b-ofvoixciio] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card[b-ofvoixciio] {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

a.btn[b-ofvoixciio], button.btn[b-ofvoixciio] {
  transition: all 0.2s ease-in-out;
}

.card.h-100:hover[b-ofvoixciio] {
  transform: translateY(-5px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.10) !important;
}

.footer[b-ofvoixciio] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}